
#top-header {
    font-family: 'Crete Round', serif;
}

#videos {
    font-family: 'Crete Round', serif;
    font-size: 3rem;
}

#click-instruction {
    animation: fadeinout 3s ease-in-out infinite alternate;
}

body {
    background-color: rgb(48, 108, 148);
    background-size: cover;
}

@keyframes fadeinout {
    from {color: rgba(255,255,255, 1);}
    to {color: rgba(255,255,255, 0.2);}
}
